.text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 0 20px;
}
.text-wrap p:last-of-type {
    margin-bottom: 0;
}

.about-image {
    max-width: 20rem;
}

.image-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-body {
    padding: 1rem;
}

@media screen and (max-width: 991px) {
    .text-wrap {
        font-size: 16px;
        padding: 20px;
    }
}

@media screen and (max-width: 575px) {
    .about-image {
        max-width: 10rem;
        margin-top: -7rem;
        margin-bottom: 1rem;
    }
}
