.container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  max-width: var(--size-max-width);
  align-items: center;
  margin: 0 auto;
  padding: var(--space-2xl) 0;
  height: fit-content;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: var(--space-xl);
}

.navigation-item {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigation-item a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigation-item a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logo {
  /* height: var(--size-logo);
  width: var(--size-logo); */
  display: block;
  font-family: 'Anton';
  font-size: 4rem;
}

.logoLink, .logoLink:hover {
  text-decoration: none;
  color: black;
}

.links-wrap {
  display: flex;
  gap: var(--space-xl);
}

.link-icon {
  height: 2rem;
  width: 2rem;
}

@media (max-width: 767px) {
  /* .logoLink > span:last-child {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  } */
}


