:root {
  --bounce-color: var(--theme-primary);
  --nav-height: 14rem;
}


.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.3s ease;
  background: linear-gradient(to bottom, white 80%, transparent 100%);
}

.nav-outer-wrap {
  position: relative;
  top: 0;
  padding: 1rem 0;
  max-width: var(--size-max-width);
  align-items: center;
  transition: var(--transition-all-03);
  margin-bottom: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--size-max-width);
  padding-left: 1rem;
  transition: var(--transition-all-03);
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: var(--space-xl);
}

.navigation-item {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigation-item a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigation-item a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logo-link, .logo-link:hover {
  display: block;
  text-decoration: none;
}

.logo {
  font-family: var(--font-sans);
  font-size: 4rem;
  letter-spacing: -4px;
  padding: var(--space-xl) var(--space-3xl);
}

.logo-letter {
  position: relative;
  bottom: 0;
  color: var(--black);
  text-shadow: 0 0 0 var(--black);
  transition: var(--transition-all-03);
}
.logo-letter-bounce {
  bottom: 2px;
  color: var(--bounce-color);
  text-shadow: var(--shadow-lifted);
  transition: var(--transition-all-03);
}

.logo-initial-k {
  letter-spacing: -1px;
  color: var(--theme-primary);
  font-weight: var(--bold);
}
.logo-initial-s {
  letter-spacing: -1px;
  color: var(--theme-primary);
  font-weight: var(--bold);
}

.logo-slash {
  display: none;
  color: var(--black);
  font-weight: var(--bold);
}


.links-wrap {
  display: flex;
  gap: var(--space-xl);
  height: 3rem;
  padding: 0 var(--space-xl);
}


.nav-icon-link {
  /* position: relative;
  bottom: 0; */
  display: flex;
  margin-left: 2rem;
  margin-bottom: 1rem;
  transform: scale(1);
  color: var(--black);
  text-shadow: 0 0 0 var(--black);
  transition: var(--transition-all-03);
}
.nav-icon-link-bounce {
  /* bottom: 2px; */
  color: var(--bounce-color);
  transform: scale(1.1);
  text-shadow: var(--shadow-lifted);
  transition: var(--transition-all-01);
}

.link-icon {
  height: 2rem;
  width: 2rem;
  transform: scale(1);
  filter: var(--drop-shadow);
  transition: var(--transition-all-05);
}
.link-icon:hover {
  /* height: 2.1rem;
  width: 2.1rem; */
  color: var(--theme-primary);
  transform: scale(1.1);
  filter: var(--drop-shadow-lifted);
  transition: var(--transition-all-02);
}



/* ============================================== */
/* ============= Compact Nav ================== */
/* ============================================== */

.compact-nav {
  /* border-bottom: 1px solid var(--black); */
  background: linear-gradient(to bottom, white 80%, transparent 100%);
}

.compact-nav .nav-outer-wrap {
  padding: .25rem 0 1.5rem 0;
  transition: var(--transition-all-03);
  margin-bottom: 0;
}

.compact-nav nav {
  max-width: var(--size-max-width);
  padding-left: 3rem;
  transition: var(--transition-all-03);
}

.compact-nav .logo {
  font-size: 2rem;
  letter-spacing: -1px;
  padding: var(--space-sm) var(--space-lg) var(--space-sm) var(--space-md);
}
.compact-nav .logo-letter {
  font-size: 0;
  /* display: none; */
}
.compact-nav .logo-initial, .compact-nav .logo-slash {
  font-size: 2rem;
  display: block;
}
 
.compact-nav .nav-icon-link {
  margin-bottom: 0;
}

/* ============================================== */
/* ============= End Compact Nav ================== */
/* ============================================== */



@media (min-width: 769px) and (max-width: 991px) {
  :root {
    --nav-height: 16rem;
  }
  .links-wrap {
    flex-direction: column;
    gap: 0;
    height: fit-content;
    padding: var(--space-xl) var(--space-xl) var(--space-xl) var(--space-2xl);
  }
  .links-wrap a {
    margin-left: 0;
  }
  .links-wrap a:not(:last-of-type) {
    margin-bottom: var(--space-xl);
  }

  .compact-nav .logo-initial, .compact-nav .logo-slash {
    font-size: 3rem;
  }
  .compact-nav .links-wrap {
    flex-direction: row;
  }
  .compact-nav .links-wrap a {
    margin-left: 1.5rem;
  }
  .compact-nav .links-wrap a:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .nav-outer-wrap {
    padding: 0rem 1rem 2rem 1rem;
  }

  .logo {
    padding: var(--space-md) var(--space-3xl);
  }
  .logo-letter, .logo-slash {
    font-size: 3rem;
    letter-spacing: -7px;
    display: none;
  }
  .logo-initial, .logo-slash {
    display: block;
  }
  .logo-slash {
    letter-spacing: -10px;
  }
  
  .logo-letter-bounce {
    color: var(--theme-primary) !important;
  }

  .nav-icon-link {
    margin-left: 0rem;
  }

  .compact-nav .logo-initial, .compact-nav .logo-slash {
    font-size: 2.5rem;
  }
  .compact-nav .logo-initial {
    color: var(--theme-primary);
    letter-spacing: -2px;
  }
   .compact-nav .logo-slash {
    letter-spacing: -4px;
  }
  /* .compact-nav . {

  } */

  

  /* .logoLink > span:last-child {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  } */
}




@media (max-width: 555px) {
  .links-wrap {
    gap: 0;
    height: fit-content;
    padding: var(--space-xl) var(--space-xl) var(--space-lg) var(--space-2xl);
  }
  .links-wrap a {
    margin-left: 1.5rem;
  }
  .link-icon {
    height: 1.8rem;
    width: 1.8rem;
  }
  .links-wrap a:last-of-type .link-icon {
    height: 1.6rem;
    width: 1.6rem;
  }
}


@media (max-width: 460px) {
  .logo {
    padding: 0 2rem;
  }
  .logo-letter, .logo-slash {
    font-size: 2.5rem;
    letter-spacing: -10px;
    margin-bottom: 0;
  }

  /* .links-wrap {
    flex-direction: column;
    gap: 0;
    height: fit-content;
    padding: var(--space-xl) var(--space-xl) var(--space-xl) var(--space-2xl);
    margin-right: 1rem;
  }
  .links-wrap a {
    margin-left: 0;
  }
  .links-wrap a:not(:last-of-type) {
    margin-bottom: var(--space-md);
  } */
}

@media (max-width: 410px) {
  .nav-outer-wrap {
    padding: 0rem 0rem 2rem 0rem;
  }

  .links-wrap {
    /* flex-direction: column; */
    gap: 0;
    height: fit-content;
    padding: var(--space-xl) var(--space-xl) var(--space-lg) var(--space-2xl);
    margin-right: 1rem;
  }
  .links-wrap a {
    margin-left: 15px;
  }
  .link-icon {
    height: 1.8rem;
    width: 1.8rem;
  }
  .links-wrap a:not(:last-of-type) {
    margin-bottom: 3px;
  }
  .links-wrap a:last-of-type {
    margin-bottom: 0;
    /* margin-left: 11px; */
  }
  .links-wrap a:last-of-type .link-icon {
    height: 1.6rem;
    width: 1.6rem;
  }
}