.details-wrap {
    position: absolute;
    /* top: 10%; */
    height: 100%;
    overflow-y: scroll;
}
.show {
    z-index: 1;
}

.body {
    
}

.close-button {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .details-wrap {
        position: relative;
        height: fit-content;
        overflow-y: scroll;
    }
}