:root {
  --showcase-height: 60vh;
}

.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(var(--showcase-height) + 8rem);
  /* height: 100%; */
  overflow: hidden;
  padding-bottom: 2rem;
}

@media (max-width: 991px) {
  .wrap {
    padding-top: 1rem;
    height: calc(var(--showcase-height) + 1rem);
  }
}

@media (max-width: 768px) {
  .wrap {
    height: calc(var(--showcase-height) + 10rem);
  }
}