.details-wrap {
    position: absolute;
    /* top: 10%; */
    height: 100%;
    overflow-y: scroll;
}
.show {
    z-index: 1;
}

.body {
    
}

.close-button {
    margin-bottom: 15px;
}
.close-button:hover {
    border-bottom: 3px solid var(--theme-accent);
}

/* .close-button-green:hover {
    border-bottom: 3px solid var(--theme-primary);
}
.close-button-pink:hover {
    border-bottom: 3px solid var(--theme-secondary-accent);
} */

@media screen and (max-width: 768px) {
    .details-wrap {
        position: relative;
        height: fit-content;
        overflow-y: scroll;
    }
}