:root {
  --showcase-height: 60vh;
}

.outer-wrap {
  margin-top: 1rem;
}

.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: calc(var(--showcase-height) + 8rem); */
  /* height: 100%; */
  overflow: hidden;
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
}

@media (max-width: 991px) {
  .wrap {
    align-items: flex-start;
    /* height: calc(var(--showcase-height) + 5rem); */
    height: fit-content;
    padding-top: 1rem;
    overflow: visible;
  }
}

@media (max-width: 768px) {
  .wrap {
    /* height: calc(var(--showcase-height) + 8rem); */
    height: fit-content;
    padding-top: 4rem;
  }
}