.tag {
    height: fit-content;
    border-radius: var(--radius-lg);
    color: var(--text-color);
    background-color: var(--tag-color);
    border: 2px solid var(--black-fade-5);
    white-space: nowrap;
    padding: var(--space-sm) var(--space-md);
    /* box-shadow: var(--shadow); */ /* uncomment if/when tags are clickable */
}