.details-wrap {
    position: absolute;
    /* top: 10%; */
    height: 0;
    /* height: 100%; */
    transition: var(--transition-all-03);
}
.details-wrap-show {
    height: var(--showcase-height);
    z-index: 1;
}

.details-title {
    /* height: 12%; */
    height: fit-content;
    overflow: hidden;
}

.body {
    overflow-y: scroll;
    /* height: calc(var(--showcase-height) - 25%); */
    padding: 0 1rem 0 0;
    margin-top: 1rem;
}
.body::-webkit-scrollbar {
    width: 12px;
}
.body::-webkit-scrollbar-thumb {
    background: var(--theme-accent);
    border-radius: 6px;
}
/* WebKit browsers (Chrome, Safari) */
/* .body::-webkit-scrollbar {
    width: 12px;
}

.body::-webkit-scrollbar-track {
    background: var(--theme-primary);
    border-radius: 6px;
}

.body::-webkit-scrollbar-thumb {
    background: var(--theme-accent);
    border-radius: 6px;
} */

.close-button {
    margin-bottom: 15px;
}
.close-button:hover {
    border-bottom: 3px solid var(--theme-accent);
}

/* .close-button-green:hover {
    border-bottom: 3px solid var(--theme-primary);
}
.close-button-pink:hover {
    border-bottom: 3px solid var(--theme-secondary-accent);
} */

@media screen and (max-width: 768px) {
    .details-wrap-show {
        position: absolute;
        height: 50vh;
        width: 100%;
        left: 0;
        padding: 1rem;
        background: var(--background); /* Add background to ensure content below isn't visible during transition */
        z-index: 2;
    }
}