.slide-outer-wrap {
    height: calc(var(--showcase-height) / 3);
}

.slide-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-lg);
    /* background-color: var(--background); */
    border-radius: var(--radius);
    transition: all 0.3s ease;
}
.slide-wrap:hover {
    cursor: pointer;
}

.slide-outer-wrap * {
    color: var(--black-fade-3);
    transition: all 0.3s ease;
}

.slide-outer-wrap.current-slide * {
    color: var(--text-color);
    transition: all 0.3s ease;
}

.title {
    display: inline-block;
    font-size: var(--text-lg);
    margin-bottom: var(--space-xs);
    margin-top: var(--space-lg);
    border-bottom: 1.5px solid transparent;
}

.view-details-button {
    display: none;
    transition: all 0.3s ease-in-out;
}

.view-details-button:hover {
    transition: all 0.3s ease-in-out;
}

.current-slide .view-details-button {
    display: block;
    position: absolute;
    bottom: -1rem;
    background: var(--black-fade-05);
}
.current-slide:hover .view-details-button {

}

.view-details-button:hover {
    border-bottom: 3px solid var(--theme-accent);
}
/* .view-details-button.green-border:hover {
    border-bottom: 3px solid var(--theme-primary);
}
.view-details-button.pink-border:hover {
    border-bottom: 3px solid var(--theme-accent);
} */