.tag {
    display: inline-block;
    position: relative;
    height: 2.5rem;
    width: fit-content;
    border-radius: var(--radius-lg);
    color: var(--text-color);
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid var(--black-fade-5);
    white-space: nowrap;
    padding: var(--space-md) var(--space-md);
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 1rem;

}
.tag::before {
    width: 100.5%;
    height: 101%;
}
.tag:hover {
    cursor: auto;
}