.tag {
    display: inline-block;
    position: relative;
    height: 3rem;
    width: fit-content;
    border-radius: var(--radius-lg);
    color: var(--text-color);
    background-color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid var(--black-fade-5);
    white-space: nowrap;
    padding: var(--space-md) var(--space-md);
    text-align: center;
    /* margin-right: 1rem; */
    margin-bottom: 1rem;
}
.tag::before {
    width: 102%;
    height: 104%;
}
.tag:hover {
    cursor: auto;
}